/*
    Document   : main
    Created on : 21-Feb-2016, 6:52:12 PM
    Author     : Linh
*/
*{
	margin:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	margin-top:50px;
}
a{
	color:blue ;
	text-decoration:none;
}
a:hover{ 
	color:#A60000;
}
#wrapper{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	box-shadow:-11px 13px 6px -6px #999999;
	min-width:1024px;
	max-width:1024px;
	height:auto;
}

main{
    margin: 50px;
}

#template {
    width:100%;
    text-align:center;
}

#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1920px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

header {
	background-image: url(../images/headerbackground.jpg);
	background-size:100%;
}

header h1{
	color:#FFFFFF;
	padding-top:96px;
	padding-bottom:9px;
	margin-bottom:0;
	
}

header #logo{
	float:left;
	margin:1px 16px 0px 17px;
	width:126px;
}

nav{
	background: linear-gradient(#c10000 -45%, #760000 55%, #c10000 170%);
	border-top: 1px solid #ff8004;
	border-bottom: 1px solid #ff8004;
	height:38px;
	box-shadow:-4px 15px 7px -6px #999999;
    margin-bottom:50px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	nav{ height:39px; }
 }

nav ul{
	padding-left:6px;
	list-style:none;
}
nav ul li{
	padding-top:10px;
	padding-bottom:10px;	
	border-right: 1px solid #971717;
	float:left;
}

@-moz-document url-prefix() {
    nav ul li { padding-top:9px;
	padding-bottom:8px; }
}


nav ul li img.home{
	margin:-10px 4px -10px 4px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	nav ul li img.home{ margin-top:-5px; }
}
nav a{
	color:#FFFFFF ;
	text-decoration:none;
	padding:10px;
}
@-moz-document url-prefix() {
    nav a { padding:9px;}
}
nav a:hover{ 
	background: linear-gradient(black -45%, #7c0000 55%, black 140%);	
	color:#FFFFFF;
}

nav a.active{
    background: linear-gradient(black -45%, #7c0000 55%, black 140%);
}

.to_top{
    position:fixed;
    top:80%;
    right:1%;
}

footer{
    height:50px;
    text-align:center;
    clear:both;
    background-color:rgba(9, 99, 23, 0.7);
    padding-top:20px;
    color:white;
    margin-top:50px;
}

.userInfo{
  text-align: right;
}

.error{
    color: red;
    margin-bottom: 10px;
}
